.fp {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

a {
    text-decoration: none;
    color: #333;
}

.fpItem {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    scroll-snap-align: start;
    min-width: 220px;
}

.fpImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.fpName {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.fpCity {
    font-weight: 300;
}

.fpPrice {
    font-weight: 600;
    display: block;
}

.fpRating > button {
    background-color: #003580;
    color: #fff;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.fpRating>span {
    font-size: 14px;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    gap: 1.6rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    transition: all 300ms ease-in-out;
    scroll-behavior: smooth;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .wrap-button-next-prev {
    display: flex;
    justify-content: space-between;
    left: calc(15px*-1);
    position: absolute;
    right: calc(15px*-1);
    transform: translateY(-50%);
    z-index: 100;
  }
  
  .wrap-button-next-prev .prev,
  .wrap-button-next-prev .next {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    pointer-events: all;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #717070;
  }
  